.App {
  text-align: center;
  background: black;

}
.Header {
  color: white;
  text-shadow: 1px 1px 5px grey;
}
/* write your parent styles in here for your App.js */

.character{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}